.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.project {
  display: flex;
  flex-direction: column;
  background: skyblue;
  width: 300px;
  height: 480px;
  margin-top:20px;
  overflow: hidden;
}
img {

  height: 40%;
}

a {
  color: white;
}
