.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.project {
  display: flex;
  flex-direction: column;
  background: skyblue;
  width: 300px;
  height: 320px;
  margin-top:20px;
  padding: 1%;
  margin-top: 10px;
  border-radius: 5%;
  padding-top: 10px;
  // overflow: hidden;
}
img {
  height: 40%;
  width: 300px;
}

img:hover{
  position: relative;
}
.description{
  width: 300px;
  height: 130px;
  margin-top: 0px;
    display: block;
    position: absolute;
    opacity: 0;
}
.description:hover{
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
  img{
    display: none;
  }
}
.name{
  font-weight: bold;
}
span{
font-weight: bold;
  color:   blue;
  border: solid 0.1px grey;
  border-radius: 10px;
  padding: 1%;
  height: 40%;
}
