.imgclass {
  height: 50%;
  width: 20%;

}


.imgprofil ul {
display: flex;
justify-content: space-around;
  list-style: none;

}

.Boutoncree button{
  background: #1976D2;
  color: white;
 border: aliceblue;
}
