#content{

.TopProjet h1{
  font-size: 4vh;
  text-align: center;
}
.imgtopprojet{
border: solid black;
height: 30vh;
width: 30vh;
margin-left: 45vh;
}

.content-1 ul {
  list-style: none;
}

.buttontop button {
  display: inline-flex;
}

.buttontop{
  display: flex;
  align-items:flex-end;
}

.buttontop progress{
  display: inline-block;
margin-bottom: 10vh;
width: 40vh;
}

.content-1{
  display: inline-flex;

}


}
